<%- include('userSidePartials/UserHeader') %>


<%- include('userSidePartials/UserMobileHeader') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h5>Refer and Earn</h5>
        </div>
        <div class="card-body">
            <!-- Referral Image -->
            <img src="/imgs/icons/5847920.jpg" alt="Referral Image" class="img-fluid mb-3" style="max-width: 50%; height: auto; display: block; margin: 0 auto;">
            
            <!-- Referral Link
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="referralLink" value="https://yourwebsite.com/referral/uniqueID" readonly>
                <button class="btn btn-primary" onclick="copyReferralLink()">Copy</button>
            </div>
             -->
            <!-- Referral Code -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="referralCode" placeholder="Copy your referral code" value="<%= user.referralcode %>" readonly>
                <button class="btn btn-primary" onclick="copyReferralCode()">Copy</button>
            </div>
        </div>
    </div>
</div>

<script>
    function copyReferralLink() {
        const referralLink = document.getElementById("referralLink");
        referralLink.select();
        document.execCommand("copy");
        alert("Referral link copied!");
    }

    function copyReferralCode() {
        const referralCode = document.getElementById("referralCode");
        referralCode.select();
        document.execCommand("copy");
        alert("Referral code copied!");
    }
</script>




<%- include('userSidePartials/UserFooter') %>